@model IEnumerable<ShopeeShop_web.Models.Item>

    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Manage</h4>
            <div class="ms-auto text-end">
                <nav arial-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"></a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Manage
                        </li>
                        </ol>
                    </nav>
                </div>
            </div>
    </div>

        @if(Model.Count() > 0)
        {
            <div class="card">
                <div class="card-body">
                    <div class=row>
                        <div class="col-10">
                            <h2 class="card-tittle mb-0">Item List</h2>
                        </div>
                        <div class="col-2 float-right">
                                <a asp-action="Create" class="btn btn-primary"> 
                                        Add New Item
                                </a>
                        </div>
                    </div>
                </div>
            

             <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="font-weight: bold;">Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td width="83%">@item.Name</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <div class="col">
                                            <a asp-action="Edit" class="btn btn-info" asp-route-Id="@item.Id"><i class="fa-solid fa-pen"></i></a>
                                        </div>
                                                                                <div class="col">
                                            <a asp-action="Delete" class="btn btn-danger" asp-route-Id="@item.Id"><i class="fa-solid fa-trash-can"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No item exist</p>
        }
    </div>